<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
    <link rel="icon" href="./img/cloud.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
        Click on "Weather" at navigation bar and do searching by input your location. 
        After press the search button next to location input box, you will be shown your location weather 
        information, degree in Celcius, highest and lowest degree in a day, and chance of rain in percentage.

        <br>
        <br>
        <br>
        <br>
        If there are any support needed, you can contact tommylohil23052000@gmail.com.

    </div>

    {{>footer}}
    
</body>
</html>