
<header>
    <h1>{{title}}</h1>
    
    <a id="weather" href="/">
        <button class="navigator">
            Weather
        </button>
    </a>
    <a href="/about">
        <button class="navigator">
            About
        </button>
    </a>
    <a href="/help">
        <button class="navigator">
            Help
        </button>
    </a>

</header>

<style>

</style>